.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.webcam {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.captured-image {
  max-width: 100%;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.image-container {
  position: relative;
  overflow: visible;
  /* Allows rotated image to show fully */
  padding: 40px;
  /* Add space to prevent overlap */
  text-align: center;
  /* Center the content */
}

.form-control.form-select.is-invalid {
  padding-right: 2.5rem;
  /* Space for validation icon */
  background-position: calc(100% - 2rem) center;
  /* Adjust icon position */
  background-repeat: no-repeat;
}

.is-invalid::after {
  content: '!';
  color: red;
  position: absolute;
  right: 1rem;
  /* Space for the icon */
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.floating-back-button {
  position: fixed;
  bottom: 20px;
  /* Distance from the bottom of the viewport */
  left: 20px;
  /* Distance from the left of the viewport */
  background-color: #333;
  /* Dark background color */
  color: #fff;
  /* White text color */
  padding: 10px 20px;
  /* Padding for button size */
  border-radius: 25px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size */
  font-weight: bold;
  /* Bold text */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  cursor: pointer;
  /* Pointer cursor */
  z-index: 1000;
  /* Keep it above other elements */
  transition: all 0.3s ease;
  /* Smooth hover effect */
}

.floating-back-button:hover {
  background-color: #555;
  /* Slightly lighter background on hover */
  transform: scale(1.1);
  /* Slight zoom effect */
}

.language-toggle-button {
  background-color: #f0ad4e;
  /* Warning color */
  color: #fff;
  /* White text */
  font-size: 14px;
  /* Small text */
  font-weight: bold;
  /* Bold text for emphasis */
  padding: 5px 15px;
  /* Button padding */
  border: none;
  /* Remove border */
  border-radius: 20px;
  /* Rounded button */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: all 0.3s ease;
  /* Smooth transition for hover effect */
}

.language-toggle-button:hover {
  background-color: #ec971f;
  /* Darker warning color on hover */
  transform: scale(1.05);
  /* Slight zoom effect on hover */
}

.language-toggle-button:active {
  background-color: #d58512;
  /* Even darker color on click */
  transform: scale(0.95);
  /* Slight shrink effect on click */
}

@media only screen and (max-width: 770px) {
  .mobile-hidden {
    display: none;
  }
}
@media only screen and (min-width: 770px) {
  .mobile-display {
    display: none;
  }
}